{% extends 'base/index.html' %}

{% block title %}Categorias{% endblock %}

{% block content %}
<h1>Categorías</h1><br>
<div class="container-fluid mt-3">
		<a class="btn mb-3" href="{% url 'tienda:nuevaCat' %}">Nuevo Registro</a><br>
		<table class="table table-borderless">
			<thead class="thead">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Fecha de Creación</th>
				</tr>
			</thead>
			<tbody>
				{% for categoria in categorias %}
				<tr>
					<th scope="row">{{categoria.id}}</td>
					<td>{{categoria.nombre}}</td>
					<td>{{categoria.fechaCreacion}}</td>
					<td>
						<a  href="{% url 'tienda:modCat' categoria.id  %}" class="btn btn-primary">Editar</a>
						<a  href="{% url 'tienda:rmvCat' categoria.id  %}" class="btn btn-danger">Eliminar</a>
					</td>
				{% empty %}
					<td span="6">No hay Categorías Registradas</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block footer %}
Proyecto Tienda
{% endblock footer %}