{% extends 'base/index.html' %}
{% block titles %}
Form Categoría
{% endblock titles %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Agregar una Nueva Categoría</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}